.home-page {
    background: #FFB6C1;
}
.stars-container {
    margin-top: 200px;
    font-size: 52px;
    text-align: center;
    color: hotpink;
}

.profile-header {
    margin-bottom: 30px;

    .profile-name {
        font-weight: bold;
    }

    .profile-rating {
        font-weight: 200;
    }
    span {
        display: block;
        font-size: 36px;
    }
    img {
        float: left;
        border-radius: 50%;
        background: hotpink;
        width: 100px;
        height: 100px;
        margin-right: 15px;
    }
}

.profile-body {
    clear: both;
}